/fantomEngine

/data/*

/docs/*
!/docs/fantomEngine.monkey.html

/examples/*

/monkeydoc/*

/native/*

/Tools/*
!/Tools/BMax_Conv*
!/Tools/CleanOSXFiles*
!/Tools/createrelease*
!/Tools/DocMonk*
!/TED_Help_Patcher*

!/Todo*
