/fantomEngine

/fantomEngine/data/*

/fantomEngine/docs/*
!/fantomEngine/docs/fantomEngine.monkey.html

/fantomEngine/examples/*

/fantomEngine/monkeydoc/*

/fantomEngine/native/*

/fantomEngine/Tools/*
!/fantomEngine/Tools/BMax_Conv/*
!/fantomEngine/Tools/CleanOSXFiles/*
!/fantomEngine/Tools/createrelease/*
!/fantomEngine/Tools/DocMonk/*
!/fantomEngine/Tools/TED_Help_Patcher/*

!/fantomEngine/Todo*
*.bak
Tools/TED_Help_Patcher
Tools/DocMonk
CleanOSXFiles.ini
Tools/CleanOSXFiles
Tools/BMax_Conv
Tools/createrelease
fantomEngine.monkey.html
docInclude
docCode
docParse
ToDo_fantomEngineX.txt
